{% extends 'base.html.twig' %}
{% block content %}
    <section class="category-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 order-2 order-lg-1">
                    <div class="filter-widget">
                        <h1 class="fw-title">My Club</h1>


                        <ul class="category-menu">
                            <li><a href="#">Club info</a>

                            </li>
                            <li><a href="#">Workshops</a>
                                <ul class="sub-menu">
                                    <li><a href="{{ path('Workshop_new') }}">New workshop</a></li>
                                    <li><a href="{{ path('up') }}">Upcoming workshops</a></li>
                                </ul>
                            </li>

                            <li><a href="{{ path('members',{'id':id}) }}"> Membership requests</a>

                            </li>
                            <li><a href="#"> Chat</a>

                            </li>
                            <li><a href="#"> Calender</a>

                            </li>



                        </ul>
                    </div>
                </div>
                {% block Req %}
                {% endblock %}
            </div>
        </div>
    </section>

{% endblock %}