{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<p class="flex-container"> Email have been sent ! Check your inbox.

</p>
{% endblock %}
