{% extends 'backoffice.html.twig' %}

{% block content %}

<div class="span7">
    <div class="widget stacked widget-table action-table">

        <div class="widget-header">
            <i class="icon-th-list"></i>
            <h3>Report Comment</h3>
        </div> <!-- /widget-header -->

        <div class="widget-content">

            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Name</th>
                    <th class="td-actions">Delete</th>


                </tr>
                </thead>
                <tbody>
                <tr>
                    {% for i in com %}
                    <td>{{ i.id_comment }}</td>
                    <td>{{ i.content }}</td>

                    <td class="td-actions"><a href="{{ path('delete_report_action',{'id':i.id_comment}) }}"><input type="button" value="Delete" class="btn btn-primary" ></td></a></tr></td>
                    {% endfor %}

                </tr>




                </tbody>
            </table>

        </div> <!-- /widget-content -->

    </div> <!-- /widget -->
</div>
{% endblock %}